/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/*.log
/log/*.log
/tmp/*
*#
*~
*.#*
/vendor/ruby/

output

*.swp
*.swo
.idea/*
.idea/
.poll_stamp

*.DS_Store

.yardoc/
/public/system/

.byebug_history

config/application.yml
config/database.yml
