<div class="container">
    <div class="default-form">
      <div class="jumbotron">
        <h1>Editing Listing</h1>

        <%= render 'form' %>
        <div class="listing-back-link">
        <%= link_to 'Show', @listing %> |
        <%= link_to 'Back', listings_path %>
        </div>
      </div>
     </div>
   </div>
