<div class="container">
  <div class="merchantapp ">
    <div class="jumbotron">
    <div class="row merchant-text">
      <div class="col-md-6">
        <h1>Midas Merchants</h1>
        <h4>Everything we touch turns to gold.</h4>
        <%= render 'form' %>
      </div>
      <div class="col-md-6">
        <h1>INSERT LOGO HERE</h1>
        <h4> By becoming a Midas Merchant you get exlusive access to our marketplace and our API</h4>
        <h5> Our marketplace is filled with hungry affiliates who'll sell your products and services in return for a cut of the recurring revenue they generate.</h5>

        <h4> How much does it cost?</h4>
        <h5>Becoming a Merchant is free. We take a piece of every transaction that occures on our marketplace.</h5>
        <h5>That said, we don't let just anyone become a Merchant. We're looking for products and services that offer recurring revenue for each comission.</h5>

        <h4>What if I don't offer recurring revenue based commissions?</h4>
        <h5> The MidasAPI allows you to integrate with our affiliate network so that you can offer recurring revenue based commissions and track how each seller is performing</h5>
        <h5> It's free to integrate and our team can help if needed.</h5>
      </div>
    </div>
   </div>
  </div>
</div>
